<h1>Editing course</h1>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :recommended_mark %><br />
    <%= f.text_field :recommended_mark %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :prerequisites %><br />
    <%= f.text_area :prerequisites %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>